<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <br>
  <div class="text-end d-flex align-items-center">
    <% // TODO: Add login logic here %> 
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit" class="btn btn-warning" id="logoutBtn" >Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google">
        <button type="submit" class="siwg">
          <img id="siwg-image" src="" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    </div>
    <br>
    <br>
</main>

<%- include('../partials/footer') %>