  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav  class="navbar">
    <i ></i>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %> 
    <a 
        href="/pets" <%- title === 'Home' ? 'class="active"' : "" %>
      >Pet Trails Main
      </a>
      <a 
        href="/pets/new" <%- title === 'Add Pet' ? 'class="active"' : "" %>
      >Add Pet
      </a>
      <a 
        href="/"
        <%- title === 'My Page' ? 'class="active"' : '' %>    >
        Pet Trails Vet
      </a>


  </nav>
