<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1> FURBABIES!:cute_pup::blob-kittycat:</h1>
  <h2>Search here...!</h2>

    <div class="search-container"
      <form action="/views/pets">
      <input type="text" placeholder="Enter microchip ID here.." name="search" >
      <button type="submit"><i class="fa fa-search">Search!</i></button>
      </form>
    </div>

	<ul>
    <li>
      <div class="pill-nav">
        <a class="active" href="/views/pets/add">Add a Pet</a>
        <a href="/">See My Patients</a>
        <!-- <a href="#contact">Contact</a> -->
        <!-- <a href="#about">About</a> -->
      </div>
    </li>
    <li></li>
  </ul>
</section>

<%- include('../partials/footer') %>