<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <br>
  <br>
  <section>
    <h2></h2>
    <i class="fa-solid fa-paw"></i>
    <i class="fa-solid fa-paw"></i><br>
    <% if (error) { %>
      <h3> check number or add new pet </h3> 
    <% } %>
    <div class="search-container">
      <form id="form" action="/pets" method="GET" >
        <input type="text" placeholder="Enter microchip ID here.." name="id">
        <button type="submit"><i class="fa fa-search">Search!</i></button>
        </form><br>

    </div>
  </section>
  <section>
    <ul>
      <li>
        <div class="pill-nav">
          <a class="active" href="/pets/new">Add a Pet</a>
          <a href="/">See My Patients</a>
        </div>
      </li>
    </ul>
  </section>
  <br>
  <br>
</main>

<%- include('../partials/footer') %>