<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1> FURBABIES!:cute_pup::blob-kittycat:</h1>
  <h2>Search here...!</h2>
	<ul>
    <li></li>
    <li></li>
  </ul>
</section>

<%- include('../partials/footer') %>