<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>TEST</h1>

  <h1> page should end in /ID </h1>
  <main>
    <h1>Add new animal</h1>
    <%= pet.name %>
  
  </main>
  
</main>


<%- include('../partials/footer') %>