html {
  box-sizing: border-box
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
  color-scheme: inherit;
}

:root {
    font-size: 62.5%;
    color-scheme: light dark;
}

body {
  background-color: rgb(231, 228, 228);
  font-family: 'Roboto Condensed', sans-serif, 'Roboto Serif', serif,'Smooch Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: rgb(49, 47, 47);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#footer {
  overflow: hidden;
  background-color: rgb(49, 47, 47);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
}

.sticky + .content{
  padding-top:60px;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

.warning {
  color: red;
  font-style: italic;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #15d3da;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  background-color: #15d3da;
}

.pill-nav a:hover {
  background-color: rgb(253, 251, 251);
  outline-color:rgb(49, 47, 47);
  color: black;
}

.deleteBtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: black;
  text-decoration-style: double;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(238, 237, 237);
  border-style: inset;
}

.deleteBtn:hover {
  color: white;
  background-color: rgb(158, 39, 39);
  outline-color: white;
}

.jumbotron {
  background-color: rgb(238, 237, 237);
  padding: 20px;
  border-radius: 10px;
  border-style: inset;
}

.jumbotron:hover {
  background-color: whitesmoke;
}

.jumbotronID {
  background-color: rgb(238, 237, 237);
  padding: 60px;
  border-radius: 10px;
  border-style:none;
  font-size: 1.75rem;
}

.jumbotronID:hover {
  background-color: whitesmoke;
}

.submitBtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  background-color: #15d3da;
  border-style: inset;
}

.submitBtn:hover {
  background-color: rgb(216, 213, 213);
  outline-color:rgb(49, 47, 47);
  color: black;
}